<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
    <h1>Todo一覧</h1>

    <a href="{% url 'task_create' %}" style="margin-bottom: 20px; display: inline-block;">
        <strong>[新規作成]</strong>
    </a>

    <table border="1">
        <thead>
            <tr>
                <th>タスク名</th>
                <th>ステータス</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.status.name }}</td>
                <td>
                    <a href="{% url 'toggle_task' task.id %}">[ 状態を切り替える ]</a>
                    
                    <a href="{% url 'task_update' task.id %}" style="margin-left: 10px; color: #28a745;">[ 編集 ]</a>
                    
                    <a href="{% url 'task_delete' task.id %}" style="margin-left: 10px; color: red;">[ 削除 ]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>